@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

<style>
    .sticky {
        position: fixed;
        display:block;
        bottom: 1em;
        text-align: center;
        z-index:9;
        width:100%;
    }
</style>

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show sticky wrapperConsent" role="alert">
        We use cookies to understand how you use our site and to improve your experience.
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span class="btnConsent" aria-hidden="true">Accept</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function () {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
