<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@model ErrorViewModel
@{ this.ViewData["Title"] = "Error"; }

<style>
    body {
        background:
        /* top, transparent black, faked with gradient */
        linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),
        /* bottom, image */
        url(/Template/images/errorBg.jpg);
        background-size: 100%;
        text-align: center;
        background-attachment: fixed;
        color: white;
        overflow:hidden;
    }
    footer{
        visibility:hidden;
    }
</style>


<!-- Error -->
<section class="error" id="error">
    <div class="header">
        <h1 style="visibility:hidden" class="mb-lg-5 mb-md-4 mb-sm-3 mb-2">Error</h1>
    </div>
    <div class="w3-main">
        <div class="agile-info">
            <h2>404</h2>
            <h3>SORRY</h3>
            <p>The Page You're Looking for Was Not Found.</p>
            <div class="w3_gb">
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-double-left" aria-hidden="true"></i>go back</a>
            </div>
        </div>
    </div>
</section>
<!-- /Error -->
