<div class="slider1-img">
    <div class="slider_banner_info">
    </div>
</div>

<style>
    .servicesLink {
        margin-bottom: 3em;
    }

    img {
        height: 150px;
        width: 100%;
    }

    div [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }

    .card {
        transition: 0.5s;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .card-title {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
    }

        .card-title i {
            font-size: 15px;
            transition: 1s;
            cursor: pointer;
            color: #ffa710
        }

            .card-title i:hover {
                transform: scale(1.25) rotate(100deg);
                color: #18d4ca;
            }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }

    .card-text {
        height: 80px;
    }

    .card::before, .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: '';
        pointer-events: none;
    }

    .card::before {
        transform-origin: left top;
    }

    .card::after {
        transform-origin: right bottom;
    }

    .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
        transform: scale3d(1, 1, 1);
    }
</style>

<div class="container mt-2">
    <!--   <div class="card card-block mb-2">
        <h4 class="card-title">Card 1</h4>
        <p class="card-text">Welcom to bootstrap card styles</p>
        <a href="#" class="btn btn-primary">Submit</a>
      </div>   -->
    <div class="row">


        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <h4 class="card-title text-center">Toilet plumbing</h4>
                <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h5 class="card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
            </div>
        </div>

        @*<div>
            <h5>How many hours would you like to book?</h5>
            <div class="cell small-12">
                <select>
                    <option value="3">3 hours</option>
                    <option value="4">4 hours</option>
                    <option value="5">5 hours</option>
                    <option value="6">6 hours</option>
                    <option value="7">7 hours</option>
                    <option value="8">8 hours</option>
                    <option value="9">9 hours</option>
                    <option value="10">10 hours</option>
                </select>
            </div>
        </div>*@

    </div>

</div>
