@model FastServices.Web.ViewComponents.DepartmentPopUpViewModel

@*<style>
    .modal {
        padding-right: 0px !important;
    }
</style>*@

<a class="btn btn-success" data-toggle="modal" data-target="#CommentModel"> Submit</a>

<div id="CommentModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <label for="NoComment">Services we provide</label>


                <a class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">

                @foreach (var item in Model.Services)
                {
                <table>
                    <a href="#" for="NoComment">@item.Name</a>
                </table>
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Confirm</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>