@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .site-container {
        width: 100%;
        min-height: 100vh;
        height: 100vh;
        top: 0;
    }

    body {
        background:
        /* top, transparent black, faked with gradient */
        linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),
        /* bottom, image */
        url(/Template/images/bg3.jpg);
        background-size: 100%;
        text-align: center;
        background-attachment: fixed;
        overflow: hidden;
        color:white;
    }

    .centerForm {
        display: inline-block;
        margin-top: 80px;
    }

    footer {
        /*position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;*/ /* Footer height */
        visibility: hidden;
    }
</style>



<form class="centerForm col-md-3" asp-route-returnUrl="@Model.ReturnUrl" method="post">

    <h1>@ViewData["Title"]</h1>
    <h4>Create a new account.</h4>
    <hr />
    <div style="text-align:left;" asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
    </div>
    <div class="form-group">
        <input asp-for="Input.Name" class="form-control" placeholder="Name" />
    </div>
    <div class="form-group">
        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" />
    </div>
    <div class="form-group">
        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
    </div>
    <div class="form-group">
        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
