
.validation-summary-errors ul {
    list-style: none;
    margin-bottom: 1em;
    font-size: 14px;
    font-family: Bahnschrift;
}

h2 {
    font-family: Impact;
    color: #3e91f7;
}

.collapsible:after {
    content: '\002B';
    color: #ffdd99;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
    color: red;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
