<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!-- banner -->
<!-- banner-slider -->
<div class="w3l_banner_info">
    <div class="slider1">
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider1-img">
                        <div class="slider_banner_info">


                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</div>
<!-- //banner-slider -->


<section class="about py-lg-5 py-md-4 py-md-3 py-2" id="about">
    <div class="about py-lg-5 py-md-4 py-md-3 py-2">
        <div class="container">
            <h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">ABOUT US</h3>
            <div class="row">
                <div class="col-md-6 com-sm-6 w3three_al1">
                    <h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Take A Look About Our Company</h4>
                    <p class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="col-md-6 com-sm-6 w3three_al">
                    <img src="/Template/images/ab.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="w3_acd">
                <h4>Why Choose Us</h4>
                <div class="w3-agileits-team-title">


                    <div id="horizontalTab">
                        <ul class=" resp-tabs-list">
                            <li>
                                <h5>Interior Designs</h5>
                            </li>
                            <li>
                                <h5>Exterior Designs</h5>
                            </li>
                            <li>
                                <h5>Gardening</h5>
                            </li>
                            <li>
                                <h5>Roofing</h5>
                            </li>
                        </ul>
                        <div class=" resp-tabs-container">
                            <div class="tab1">
                                <div class="row">
                                    <div class="col-md-6 com-sm-6 w3three_al2">
                                        <div class="test-wel">

                                            <p>
                                                Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
                                                reprehend.Unicmquam eius, Basmodi temurer sehsMunim.
                                            </p>
                                            <ul>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 com-sm-6 w3three_al3">
                                        <img src="/Template/images/ab1.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>

                            <div class="tab2">
                                <div class="row">
                                    <div class="col-md-6 com-sm-6 w3three_al4">
                                        <div class="test-wel">

                                            <p>
                                                Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
                                                reprehend.Unicmquam eius, Basmodi temurer sehsMunim.
                                            </p>
                                            <ul>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 com-sm-6 w3three_al5">
                                        <img src="/Template/images/ab2.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab3">
                                <div class="row">
                                    <div class="col-md-6 com-sm-6 w3three_al6">
                                        <div class="test-wel">

                                            <p>
                                                Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
                                                reprehend.Unicmquam eius, Basmodi temurer sehsMunim.
                                            </p>
                                            <ul>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 com-sm-6 w3three_al7">
                                        <img src="/Template/images/ab3.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab4">
                                <div class="row">
                                    <div class="col-md-6 com-sm-6 w3three_al8">
                                        <div class="test-wel">

                                            <p>
                                                Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
                                                reprehend.Unicmquam eius, Basmodi temurer sehsMunim.
                                            </p>
                                            <ul>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 com-sm-6 w3three_al9">
                                        <img src="/Template/images/ab4.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/Template/js/easy-responsive-tabs.js"></script>
<script>
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>
<!--//tabs-->

<script type="text/javascript" src="/Template/js/jquery.flexisel.js"></script>
