<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<title>Fast Service a Home Service Category Bootstrap Responsive Website Template | Home :: w3layouts</title>


<!-- banner -->
<!-- banner-slider -->
<div class="w3l_banner_info">
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider-img">
                        <div class="slider_banner_info">
                            <div class="text">
                                <h3 class="word wisteria">We Are The Best Home Service For Making Your Home Shine</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-img-2">
                        <div class="slider_banner_info">
                            <div class="text">
                                <h3 class="word wisteria">Making your Home Shine and Spotless Is Our Business And Priority</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-img-3">
                        <div class="slider_banner_info">
                            <div class="text">
                                <h3 class="word wisteria">Our Home Service Providers will Make You Proud in Society</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //banner-slider -->

<section class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
    <div class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 w3_ban1">
                    <div class="card">
                        <img class="card-img-top" src="/Template/images/bb1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Carpenter</h5>
                            <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 w3_ban1">
                    <div class="card">
                        <img class="card-img-top" src="/Template/images/bb2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Plumber</h5>
                            <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 w3_ban1">
                    <div class="card">
                        <img class="card-img-top" src="/Template/images/bb3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Electrician</h5>
                            <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 w3_ban">
                    <div class="card">
                        <img class="card-img-top" src="/Template/images/bb4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Welder</h5>
                            <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 w3_ban">
                    <div class="card">
                        <img class="card-img-top" src="/Template/images/bb5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Painter</h5>
                            <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 w3_ban">
                    <div class="card">
                        <img class="card-img-top" src="/Template/images/bb6.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Fitter</h5>
                            <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pricinglist ">
    <div class="pricinglist ">
        <h3 class="mb-lg-5 mb-md-4 mb-sm-3 mb-2">Our Prices OverView</h3>
        <div class="container">
            <div class="w3_1">
                <div class="row">
                    <div class="col-sm-6 w3_a1">
                        <h4>Interior Decoration</h4>
                        <p>Lorem Ipsum</p>
                    </div>
                    <div class="col-sm-6 w3_a2">
                        <h4>$9.00</h4>
                    </div>
                </div>
            </div>
            <div class="w3_1">
                <div class="row">
                    <div class="col-sm-6 col-xs-6 w3_a1">
                        <h4>Roofing</h4>
                        <p>Lorem Ipsum</p>
                    </div>
                    <div class="col-sm-6 col-xs-6 w3_a2">
                        <h4>$90.00</h4>
                    </div>
                </div>
            </div>
            <div class="w3_1">
                <div class="row">
                    <div class="col-sm-6 w3_a1">
                        <h4>Gardening</h4>
                        <p>Lorem Ipsum</p>
                    </div>
                    <div class="col-sm-6 w3_a2">
                        <h4>$120.00</h4>
                    </div>
                </div>
            </div>
            <div class="w3_1">
                <div class="row">
                    <div class="col-sm-6 w3_a1">
                        <h4>Flooring</h4>
                        <p>Lorem Ipsum</p>
                    </div>
                    <div class="col-sm-6 w3_a2">
                        <h4>$80.00</h4>
                    </div>
                </div>
            </div>
            <div class="w3_1">
                <div class="row">
                    <div class=" col-sm-6 w3_a1">
                        <h4>Exterior Decoration</h4>
                        <p>Lorem Ipsum</p>
                    </div>
                    <div class="col-sm-6 w3_a2">
                        <h4>$99.00</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mission py-lg-5 py-md-4 py-md-3 py-2">
    <div class="mission py-lg-5 py-md-4 py-md-3 py-2">
        <div class="row">
            <div class="col-md-3 col-sm-12 w3_ms8">
                <img src="/Template/images/bb9.jpg" alt="xt" class="img-fluid">
            </div>
            <div class="col-md-3 col-sm-12 w3_ms1">
                <h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Our Mission</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="col-md-6 col-sm-12 w3_ms3">
                <!-- Slideshow container -->
                <div class="slideshow-container">

                    <!-- Full-width slides/quotes -->
                    <div class="mySlides">
                        <img src="/Template/images/test1.jpg" alt="xyt" class="img-fluid">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>

                    </div>

                    <div class="mySlides">
                        <img src="/Template/images/test2.jpg" alt="xyt" class="img-fluid">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>

                    </div>

                    <div class="mySlides">
                        <img src="/Template/images/test3.jpg" alt="xyt" class="img-fluid">
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>

                    </div>

                    <!-- Next/prev buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>

            </div>
            <div class="col-md-3 col-sm-12 w3_ms7">
                <h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Our Creative</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="col-md-3 col-sm-12 w3_ms">
                <div class="row inner_stat_wthree_agileits">

                    <div class="col-md-6 stats_left counter_grid2">
                        <i class="far fa-edit"></i>
                        <p class="counter">563</p>
                        <h4>Projects</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid3">
                        <i class="far fa-smile"></i>
                        <p class="counter">1045</p>
                        <h4>Happy Clients</h4>
                    </div>

                </div>
            </div>


            <div class="col-md-3 col-sm-12 w3_ms6">
            </div>
            <div class="col-md-3 col-sm-12 w3_ms4">
                <h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Our Vision</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
    </div>
</section>

<!-- Skills -->
<section class="skills py-lg-5 py-md-4 py-md-3 py-2">
    <div class="stats wthree-sub py-lg-5 py-md-4 py-md-3 py-2" id="skills">
        <div class="container">
            <h3 class="w3l-title mb-lg-4 mb-md-3 mb-sm-2 mb-2">Our Skills</h3>
            <div class="row">
                <div class="col-sm-6 stats_grid_right">
                    <div class="skillbar" data-percent="78">
                        <span class="skillbar-title" style="background: #f1703a;">INTERIORS</span>
                        <p class="skillbar-bar" style="background: #f88c5e;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->

                    <div class="skillbar" data-percent="94">
                        <span class="skillbar-title" style="background: #2980b9;">EXTRIORS</span>
                        <p class="skillbar-bar" style="background: #3498db;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->

                    <div class="skillbar" data-percent="76">
                        <span class="skillbar-title" style="background: #a0d034;">GARDENING</span>
                        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->
                </div>
                <div class="col-sm-6 stats_grid_right">
                    <div class="skillbar" data-percent="54">
                        <span class="skillbar-title" style="background: #f1703a;">ROOFING</span>
                        <p class="skillbar-bar" style="background: #f88c5e;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->

                    <div class="skillbar" data-percent="64">
                        <span class="skillbar-title" style="background: #2980b9;">PARTIES</span>
                        <p class="skillbar-bar" style="background: #3498db;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->

                    <div class="skillbar" data-percent="84">
                        <span class="skillbar-title" style="background: #a0d034;">DECORATION</span>
                        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Skills -->
<!-- Contact -->
<section class="contact py-lg-5 py-md-4 py-md-3 py-2">
    <div class="container py-lg-5 py-md-4 py-md-3 py-2">
        <div class="w3_mg">
            <h3>Fast Service</h3>
            <p class=" my-lg-4 my-md-3 my-sm-2 my-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Conatct Page
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Fast Service</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="contact" id="contact">
                                <div class="container">
                                    <h3 class="title clr">CONTACT FORM</h3>
                                    <div class=" contact-form">
                                        <form action="#" method="post">
                                            <div class="row contact-bothside-agileinfo">
                                                <div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
                                                    <input type="text" name="Name" placeholder="Name" required="">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 form-right ">
                                                    <input type="text" name="Last name" placeholder="Last name" required="">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
                                                    <input type="email" name="Email" placeholder="Email" required="">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 form-right ">
                                                    <input type="text" name="phone" placeholder="Phone" required="">
                                                </div>
                                                <textarea name="Message" placeholder="Message" required=""></textarea>
                                                <input type="submit" value="SUBMIT">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Conatct -->







<!-- HERE HERE HERE -->








