<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!-- banner -->
<!-- banner-slider -->
<div class="w3l_banner_info">
    <div class="slider1">
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider1-img">
                        <div class="slider_banner_info">


                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</div>
<!-- //banner-slider -->
</div>


<section class="services  py-lg-5 py-md-4 py-md-3 py-2" id="services">
    <!-- About Us -->
    <div class="services py-lg-5 py-md-4 py-md-3 py-2" id="services">
        <div class="container">
            <h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Services</h3>
            <p class="w3_dwn">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <div class="w3_rm">
                <a href="#">READ MORE</a>
            </div>
            <div class="w3l_abtdwn">
                <div class="row">
                    <div class="col-md-3 col-sm-12 w3l_r1">
                        <i class="fa fa-crosshairs" aria-hidden="true"></i>
                        <h4>Roofing</h4>
                        <p class="agile_pgh">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                    <div class="col-md-3 col-sm-12 w3l_c1">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <h4>Electrical</h4>
                        <p class="agile_pgh">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                    </div>
                    <div class="col-md-3 col-sm-12 w3l_l1">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <h4>Interior</h4>
                        <p class="agile_pgh">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                    <div class="col-md-3 col-sm-12 w3l_l1">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <h4>Plumbing</h4>
                        <p class="agile_pgh">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="priceing-table w3l">
        <div class="wrap">
            <div class="w3_ads">
                <h1>Colorful Pricing Tables</h1>

                <div class="priceing-table-main">
                    <div class="price-grid">
                        <div class="price-block agile">
                            <div class="price-gd-top pric-clr1">
                                <h4>Basic</h4>
                                <h3>$5</h3>
                                <h5>1 month</h5>
                            </div>
                            <div class="price-gd-bottom">
                                <div class="price-list">
                                    <ul>
                                        <li>Full access</li>
                                        <li>Documentation</li>
                                        <li>Customers Support</li>
                                        <li>Free Updates</li>
                                        <li>Unlimited Services</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-selet pric-sclr1">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="price-grid">
                        <div class="price-block agile">
                            <div class="price-gd-top pric-clr2">
                                <h4>Standard</h4>
                                <h3>$10</h3>
                                <h5>5 months</h5>
                            </div>
                            <div class="price-gd-bottom">
                                <div class="price-list">
                                    <ul>
                                        <li>Full access</li>
                                        <li>Documentation</li>
                                        <li>Customers Support</li>
                                        <li>Free Updates</li>
                                        <li>Unlimited Services</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-selet pric-sclr2">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="price-grid wthree">
                        <div class="price-block agile">
                            <div class="price-gd-top pric-clr3">
                                <h4>Premium</h4>
                                <h3>$20</h3>
                                <h5>Free for 2 months</h5>
                            </div>
                            <div class="price-gd-bottom">
                                <div class="price-list">
                                    <ul>
                                        <li>Full access</li>
                                        <li>Documentation</li>
                                        <li>Customers Support</li>
                                        <li>Free Updates</li>
                                        <li>Unlimited Services</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-selet pric-sclr3">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</section>




