@model string[]

    <div class="form-group">
        <label>Total Salary</label>
        <input disabled class="form-control" value="@Model[0]$" />
    </div>
    <div class="form-group">
        <label>Bonus for @Model[2]</label>
        <input disabled class="form-control" value="@Model[1]$" />
    </div>